body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 40px;
}
h1 {
    text-align: center;
}

.member {
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 15px auto;
    max-width: 500px;
    display: flex;
    gap: 50px;
    align-items: center;
}

    .member p {
        font-size: 13px;
        color: #777;
    }

    .member img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 8px;
    }